@import '../../index.scss';


.container{
    display: inline-flex;
    font-family:$bt-font-family;
    flex-direction: column;
    text-align: center;

}
.hide{
    display: none;
    color: $black;
}
.colorDefault{
    box-sizing: border-box;
    width: 175px;
    height: 80px;
    margin-top: 20px;
    background: $white;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:30px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }
}
.labelContainer{
    position:relative;
    top:20px;
    color: $black;
}
.labelContainerHex{
    position:relative;
    top:20px;
    color: $black;
}
.colorDefault2{
    box-sizing: border-box;
    width: 175px;
    height: 80px;
    margin-top: 20px;
    background: $black;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:30px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }
}
.labelContainer2{
    position:relative;
    top:20px;
    color: $white;
}
.labelContainerHex2{
    position:relative;
    top:20px;
    color: $white;
}

.colorPrimary{
    background-color: $neutral-primary;
    box-sizing: border-box;
    width: 175px;
    height: 80px;
    margin-top: 20px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }
}

.colorPrimary2{
    background-color: $neutral-primary-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}
.colorPrimary3{
    background-color: $theme-primary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}

.colorNeutral{
    background-color: $neutral-dark;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}
.colorNeutral4{
    background-color: $neutral-secondary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorNeutral5{
    background-color: $neutral-secondary-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorNeutral6{
    background-color: $neutral-tertiary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $black-transparent; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorNeutral7{
    background-color: $neutral-tertiary-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorNeutral8{
    background-color: $neutral-quaternary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorNeutral9{
    background-color: $neutral-quaternary-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorNeutral10{
    background-color: $neutral-light;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorNeutral11{
    background-color: $neutral-lighter;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}
.colorNeutral12{
    background-color: $neutral-lighter-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $white-transparent;
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;

            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }
}
.colorTheme{
    background-color: $theme-darker;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}

.colorTheme2{
    background-color: $theme-dark;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorTheme3{
    background-color: $theme-dark-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorTheme4{
    background-color: $theme-primary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorTheme5{
    background-color: $theme-secondary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-tertiary; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            color: $white;
            label{
                cursor: pointer;
            }
        }
        .labelContainer2, .labelContainerHex2{
            display: none;
        }
    }

}.colorTheme6{
    background-color: $theme-tertiary;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-lighter; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorTheme7{
    background-color: $theme-light;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-lighter; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorTheme8{
    background-color: $theme-lighter;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-lighter; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }

}.colorTheme9{
    background-color: $theme-lighter-alt;
    box-sizing: border-box;
    margin-top: 20px;
    width: 175px;
    height: 80px;
    border: 0.2px solid $black;
    &:hover{
        background-color: $theme-lighter; 
        cursor: pointer;
        .hide{
            display: inline;
            top:20px;
            position: relative;
            label{
                cursor: pointer;
            }
        }
        .labelContainer, .labelContainerHex{
            display: none;
        }
    }
}