
$black: #000000;
$neutral-dark: #201F1E;
$neutral-primary: #323130;
$neutral-primary-alt: #3B3A39;
$neutral-secondary: #605E5C;
$neutral-secondary-alt: #8A8886;
$neutral-tertiary: #A19F9D;
$neutral-tertiary-alt: #C8C6C4;
$neutral-quaternary: #D2D0CE;
$neutral-quaternary-alt: #E1DFDD;
$neutral-light: #EDEBE9;
$neutral-lighter: #F3F2F1;
$neutral-lighter-alt: #FAF9F8;
$white: #ffffff;
$bt-font-family: "Red Hat Display",sans-serif;
$white-transparent: $neutral-quaternary;
$theme-darker: #4B3867;
$theme-dark: #664B8C;
$theme-dark-alt: #7959A5;
$theme-primary: #8764B8;
$theme-secondary: #9372C0;
$theme-tertiary: #B29AD4;
$theme-light: #D7C9EA;
$theme-lighter: #E9E2F4;
$theme-lighter-alt: #F9F8FC;
$width-small: 25%;
$width-medium: 50%;
$width-large: 75%;
$width-full: 100%;
$black-transparent: $neutral-secondary;
$bt-button-action-background-color: $neutral-lighter;
$bt-button-primary-disabled-color: $neutral-tertiary;
$bt-persona-background-color: $neutral-lighter-alt;
$bt-persona-height: 70px;
$bt-controlToolBar-color: $neutral-primary;
$bt-controlToolBar-background-color: $neutral-lighter-alt;
$bt-controlToolBar-hover-background-color: $neutral-lighter;
$bt-textfield-width-small: $width-small;
$bt-textfield-width-medium: $width-medium;
$bt-textfield-width-large: $width-large;
$bt-textfield-width-full: $width-full;
$bt-datepicker-width-small: $width-small;
$bt-datepicker-width-medium: $width-medium;
$bt-datepicker-width-large: $width-large;
$bt-datepicker-width-full: $width-full;
$bt-dropdown-width-small: $width-small;
$bt-dropdown-width-medium: $width-medium;
$bt-dropdown-width-large: $width-large;
$bt-dropdown-width-full: $width-full;
$bt-persona-width-small: $width-small;
$bt-persona-width-medium: $width-medium;
$bt-persona-width-large: $width-large;
$bt-persona-width-full: $width-full;
$bt-searchbox-width-small: $width-small;
$bt-searchbox-width-medium: $width-medium;
$bt-searchbox-width-large: $width-large;
$bt-searchbox-width-full: $width-full;
$bt-slider-width-small: $width-small;
$bt-slider-width-medium: $width-medium;
$bt-slider-width-large: $width-large;
$bt-slider-width-full: $width-full;
$bt-fluent-font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;